/* le menu de navigation */
section.main{
    display: flex;
    flex-wrap: wrap;
    margin-right: 20rem;
    margin-left: 20rem;
}

article img{
    width: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article p{
    text-align: center;
}

article h2 {
    text-align: center;
}

section{
    display: flex;
    flex-wrap: nowrap;
}

article , section{
    flex-grow: 1;
}

ul {
    display: flex;
    flex-wrap: nowrap;
}

nav li{
    flex-grow: 1;
    text-align: center;
}

h1 {
    text-align: center;
}