section {
    display: flex;
    flex-wrap: wrap;
}

article{
    flex-basis: 40rem;
    margin: 1rem;
}

ul {
    display: flex;
    flex-wrap: nowrap;
}

nav li{
    flex-grow: 1;
    margin: 2rem;
    text-align: center;
}

h1 {
    text-align: center;
}

aside {
    margin-right: 5rem;
    width: 20rem;
}

main{
    display: flex;
    flex-wrap: nowrap;
}