/* Règles générales */
main section > article{
    background-color: skyblue;
}

header , footer ,  nav{
    background-color: gainsboro ;
}

aside img{
    width: 20rem;
}

footer img{
    width: 1em;
}
/* Règles générales */

h1 , h2 , h3 {
    color: darkblue ;
}

article a{
    text-decoration: none;
}

ul li{
    list-style-type: none;
}



